.navbar-custom{
    height: 70px;
    border: none;
    background-color:#ffff;
    margin-bottom: 0px;
    border-radius: 0%;
}

.logo> img{
    height: 50px;
}

.navbar-nav-custom>li>a{
    padding-right: 40px;
    font-size: 16px;
    font-weight: bold;
}
.carousel-custom{
    height:550px;
    margin-bottom: 5em;
}
h3{
    font-weight: bold;
}
h5{
    font-weight: bold;
}
.thumbnail-adj{
    max-height: 15rem;
    max-width: 5rem;
}
footer {
    background-color: rgb(9, 9, 58);
    margin-top: 7rem;
   
}
footer h5{
    color: goldenrod;
}
.p2{
    color: rgb(56, 164, 56);
   
}
footer p{
    color:rgb(240, 233, 233);
}